.read{
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,350px);
    justify-content: center;
    column-gap: 50px;
}

.read_img{
    width: 70px;
    margin: 0 auto;
}
.read_img img{
    width: 100%;
}

.read_btn{
    display: block;
    font-size: 1rem;
    width: auto;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    color: white;
    margin: 0 auto;
    margin-top: 30px;
}
.read_img{
    margin-bottom: 80px;
}
.read_descr{
    color: #626364;
    line-height: 1.8rem;
    width: 250px;
    text-align: center;
    margin: 0 auto;
    height: 150px;

}
#btn0{
    background-color: #2D99CC;
}
#btn1{
    background-color: #319966;
}
#btn2{
    background-color: #993332;
}
